<!-- COUNTRY SELECTOR -->
<div style="display: none;">
	<div id="countrymodal" class="fancybox" style="background:#eee;height:250px;width:375px;padding:10px 35px;">
		<h2>Select Your Country</h2>
		<ul>
			<li class="ae"><div><span class="flag"></span><em>AE</em></div></li>
			<li class="at"><div><span class="flag"></span><em>AT</em></div></li>
			<li class="au"><div><span class="flag"></span><em>AU</em></div></li>
			<li class="br"><div><span class="flag"></span><em>BR</em></div></li>
			<li class="ca"><div><span class="flag"></span><em>CA</em></div></li>
			<li class="ch"><div><span class="flag"></span><em>CH</em></div></li>
			<li class="de"><div><span class="flag"></span><em>DE</em></div></li>
			<li class="dk"><div><span class="flag"></span><em>DK</em></div></li>
			<li class="fr"><div><span class="flag"></span><em>FR</em></div></li>
			<li class="ie"><div><span class="flag"></span><em>IE</em></div></li>
			<li class="in"><div><span class="flag"></span><em>IN</em></div></li>
			<li class="it"><div><span class="flag"></span><em>IT</em></div></li>
			<li class="jp"><div><span class="flag"></span><em>JP</em></div></li>
			<li class="kr"><div><span class="flag"></span><em>KR</em></div></li>
			<li class="mx"><div><span class="flag"></span><em>MX</em></div></li>
			<li class="nl"><div><span class="flag"></span><em>NL</em></div></li>
			<li class="pl"><div><span class="flag"></span><em>PL</em></div></li>
			<li class="ro"><div><span class="flag"></span><em>RO</em></div></li>
			<li class="ru"><div><span class="flag"></span><em>RU</em></div></li>
			<li class="es"><div><span class="flag"></span><em>SP</em></div></li>
			<li class="tr"><div><span class="flag"></span><em>TR</em></div></li>
			<li class="uk"><div><span class="flag"></span><em>UK</em></div></li>
			<li class="us"><div><span class="flag"></span><em>US</em></div></li>
		</ul>
	</div>
</div>

<script type = "text/javascript">
	$(document).ready(function() {
		$("#country-selector").fancybox();
	});
</script>


<!-- END COUNTRY SELECTOR -->	