<div id="konten">
  <h1>Top Companies Hiring Now</h1>
  <p>Which companies have most job opportunities? These employers are actively recruiting and hiring now. Find a job that you are qualified for and apply today! Job Opportunities by Job Title</p>
  <div class="people">
  	<%= image_tag "img1.jpg", {title:"business people", alt:"business people", height:"432px", width:"570px"} %>
  </div>
  <ul>
	<li><a href="/jobs/i-Liberty+Tax+Service+-+Seasonal+Opportunities">Liberty Tax Service Jobs</a>hiring now: <a href="/jobs/t-Tax+Preparer/i-Liberty+Tax+Service+-+Seasonal+Opportunities">Tax Preparers</a></li>
	<li><a href="/jobs/i-T-Mobile+Retail">T-Mobile Retail Jobs</a> hiring now: <a href="/jobs/t-Retail+Sales+Associate/i-T-Mobile+Retail">Retail Sales Associates</a></li>
	<li><a href="/jobs/i-Aerotek">Aerotek Jobs</a> hiring now: <a href="/jobs/k-aerotek/t-CNC+Machinist/i-Aerotek">CNC Machinists</a></li>
	<li><a href="/jobs/i-Sunrise+Senior+Living">Sunrise Senior Living Jobs</a> hiring now: <a href="/jobs/t-Care+Manager/i-Sunrise+Senior+Living">Care Managers</a></li>
	<li><a href="/jobs/i-Ernst+%26+Young+LLP">Ernst &amp; Young LLP Jobs</a> hiring now: <a href="/jobs/t-Tax+Manager/i-Ernst+%26+Young+LLP">Tax Managers</a></li>
	<li><a href="/jobs/i-Enterprise+Rent-A-Car">Enterprise Rent-A-Car Jobs</a> hiring now: <a href="/jobs/t-Sales+Management+Trainee/i-Enterprise+Rent-A-Car">Sales Management Trainees</a></li>
	<li><a href="/jobs/i-Extendicare+Health+Services">Extendicare Health Services Jobs</a> hiring now: <a href="/jobs/t-CNA+Certified+Nursing+Assistant/i-Extendicare+Health+Services">Certified Nursing Assistants</a></li>
	<li><a href="/jobs/i-BAE+Systems">BAE Systems Jobs</a> hiring now: <a href="/jobs/t-Systems+Administrator/i-BAE+Systems">Systems Administrators</a></li>
	<li><a href="/jobs/i-Kmart+Corporation">Kmart Corporation Jobs</a> hiring now: <a href="/jobs/t-Customer+Service+openings/i-Kmart+Corporation">Customer Service Openings</a></li>
	<li><a href="/jobs/i-UPS">UPS Jobs</a> hiring now: <a href="/jobs/t-UPS+Part+Time+Package/i-UPS">Part Time Package Handlers</a></li>
  </ul>
</div>
