<div class="main">
  <div class="centerPanel" style="padding-left:4em;width:100%;">
  	<div style="margin:0 2px;width:70%;">
  	  <h1 id="title" style="font-size:200%">Find me a Job</h1>
	  <div style="margin-left:1em;color:#777;">
	  	<span class="subtitle-page">Whether you are looking for a part time job or a full time job, Better Jobs has them all!  With over one million jobs on the site from multiple sources, we can help you find a job now.  Job searching is easy on Better Jobs.   Just type in your job title or skills in the “keywords” box and the city and state you would like to search in the “location” box.  Next, click the “search jobs” button, and you will get a list of all of the job opportunities with that search criteria.  You can then use the filters along the left side of the screen to narrow in further on a shorter list of jobs that suit your needs.  We also have compiled a few lists of the best jobs on our site, and those job pages are listed below.</span>
	  </div>
	</div>
	<div class="browseBody" style="margin-left:3em;">
	  <ul class="browseList">
		<li class="browseItem">
		  <a class="joblink-list" href="http://www.betterjobs.com/pages/accountant">Top Accountant Jobs and Accounting Jobs</a>
		</li>
		<li class="browseItem">
		  <a class="joblink-list" href="http://www.betterjobs.com/pages/part time cities">Top Cities for Part Time Jobs</a>
		</li>
		<li class="browseItem">
		  <a class="joblink-list" href="http://www.betterjobs.com/pages/jobsByKeyword">Popular Jobs by Keyword</a>
		</li>
		<li class="browseItem">
		  <a class="joblink-list" href="http://www.betterjobs.com/pages/Temp Work">Temporary Work - Companies Hiring Temps</a>
		</li>
		<li class="browseItem">
		  <a class="joblink-list" href="http://www.betterjobs.com/pages/salesmanager">Sales Manager Jobs by City</a>
		</li>
		<li class="browseItem">
		  <a class="joblink-list" href="http://www.betterjobs.com/pages/part-time">Part Time Jobs on Better Jobs</a>
		</li>
		<li class="browseItem">
		  <a class="joblink-list" href="http://www.betterjobs.com/pages/best-labor-jobs">Best Labor Jobs</a>
		</li>
		<li class="browseItem">
		  <a class="joblink-list" href="http://www.betterjobs.com/pages/healthcare">Best Healthcare Jobs </a>
		</li>
		<li class="browseItem">
		  <a class="joblink-list" href="http://www.betterjobs.com/pages/best-engineer-jobs">Best Engineer Jobs</a>
		</li>
		<li class="browseItem">
		  <a class="joblink-list" href="http://www.betterjobs.com/pages/part-time-companies">Companies with Part Time Jobs</a>
		</li>
		<li class="browseItem">
		  <a class="joblink-list" href="http://www.betterjobs.com/pages/technology">Top IT Jobs and Technology Jobs</a>
		</li>
		<li class="browseItem">
		  <a class="joblink-list" href="http://www.betterjobs.com/pages/tech-city">Where are the IT Jobs?</a>
		</li>
	  </ul>
	</div>
  </div>
</div>