<div class="main">
  <div class="centerPanel" style="clear:both;float:left;padding-left:50px;">
    <iframe src="http://www.careerbuilder.com/JobSeeker/Info/Privacy.aspx?lr=cbblank" frameborder="0" width="800px" height="4550px"></iframe>
  </div>
</div>
