<div class="centerPanel" style="clear:both;float:left;padding-left:50px;width:800px;">
  <h1 style="margin: 20px 0 25px;">Browse Jobs by City, State, or Title on Better Jobs</h1>
  <span class="subtitle-page">
	To give you options on how to browse jobs online, we've listed our jobs by job title, company and state. You 
	can also browse lists of jobs in your town or city by clicking on the state first. Whether you are looking to 
	browse <a class="joblink-list" href="http://www.betterjobs.com/jobs/k-%22home-based%22">home-based jobs</a>, 
	<a class="joblink-list" href="http://www.betterjobs.com/jobs/k-nanny">nanny jobs</a>, 
	<a class="joblink-list" href="http://www.betterjobs.com/jobs/dental-hygienist.aspx">dental hygienist jobs</a> or 
	<a class="joblink-list" href="http://www.betterjobs.com/jobs/k-night-shifts">jobs with night shifts</a> - Better Jobs allows job 
	browsing for all of those job titles.  Check out our jobs by company and narrow your job search results by 
	your city like <a class="joblink-list" href="http://www.betterjobs.com/jobs/l-Rhinelander,+WI">Rhinelander WI jobs</a>, 
	<a class="joblink-list" href="http://www.betterjobs.com/jobs/l-Houston,+TX">Houston TX jobs</a> and 
	<a class="joblink-list" href="http://www.betterjobs.com/jobs/l-Burlington,+NC">Burlington NC jobs</a>. Browse job ads by clicking on 
	any of the below links to start and apply to jobs today!
  </span>
  <div class="browseGroup">
	<span class="titleSmall">By Title :</span><br><br>
	<a class="joblink-list" href="http://www.betterjobs.com/t-A" style="padding:3px;" rel="nofollow">A</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-B" style="padding:3px;" rel="nofollow">B</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-C" style="padding:3px;" rel="nofollow">C</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-D" style="padding:3px;" rel="nofollow">D</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-E" style="padding:3px;" rel="nofollow">E</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-F" style="padding:3px;" rel="nofollow">F</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-G" style="padding:3px;" rel="nofollow">G</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-H" style="padding:3px;" rel="nofollow">H</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-I" style="padding:3px;" rel="nofollow">I</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-J" style="padding:3px;" rel="nofollow">J</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-K" style="padding:3px;" rel="nofollow">K</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-L" style="padding:3px;" rel="nofollow">L</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-M" style="padding:3px;" rel="nofollow">M</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-N" style="padding:3px;" rel="nofollow">N</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-O" style="padding:3px;" rel="nofollow">O</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-P" style="padding:3px;" rel="nofollow">P</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-Q" style="padding:3px;" rel="nofollow">Q</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-R" style="padding:3px;" rel="nofollow">R</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-S" style="padding:3px;" rel="nofollow">S</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-T" style="padding:3px;" rel="nofollow">T</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-U" style="padding:3px;" rel="nofollow">U</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-V" style="padding:3px;" rel="nofollow">V</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-W" style="padding:3px;" rel="nofollow">W</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-X" style="padding:3px;" rel="nofollow">X</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-Y" style="padding:3px;" rel="nofollow">Y</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-Z" style="padding:3px;" rel="nofollow">Z</a>
	<a class="joblink-list" href="http://www.betterjobs.com/t-%23" style="padding:3px;" rel="nofollow">#</a>
  </div>
  <div class="browseGroup">
	<span class="titleSmall">By Company :</span><br><br>
	<a class="joblink-list" href="http://www.betterjobs.com/i-A" style="padding:3px;" rel="nofollow">A</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-B" style="padding:3px;" rel="nofollow">B</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-C" style="padding:3px;" rel="nofollow">C</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-D" style="padding:3px;" rel="nofollow">D</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-E" style="padding:3px;" rel="nofollow">E</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-F" style="padding:3px;" rel="nofollow">F</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-G" style="padding:3px;" rel="nofollow">G</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-H" style="padding:3px;" rel="nofollow">H</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-I" style="padding:3px;" rel="nofollow">I</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-J" style="padding:3px;" rel="nofollow">J</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-K" style="padding:3px;" rel="nofollow">K</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-L" style="padding:3px;" rel="nofollow">L</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-M" style="padding:3px;" rel="nofollow">M</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-N" style="padding:3px;" rel="nofollow">N</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-O" style="padding:3px;" rel="nofollow">O</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-P" style="padding:3px;" rel="nofollow">P</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-Q" style="padding:3px;" rel="nofollow">Q</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-R" style="padding:3px;" rel="nofollow">R</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-S" style="padding:3px;" rel="nofollow">S</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-T" style="padding:3px;" rel="nofollow">T</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-U" style="padding:3px;" rel="nofollow">U</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-V" style="padding:3px;" rel="nofollow">V</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-W" style="padding:3px;" rel="nofollow">W</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-X" style="padding:3px;" rel="nofollow">X</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-Y" style="padding:3px;" rel="nofollow">Y</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-Z" style="padding:3px;" rel="nofollow">Z</a>
	<a class="joblink-list" href="http://www.betterjobs.com/i-%23" style="padding:3px;" rel="nofollow">#</a>
  </div>

  <div class="browseGroup">
	<span class="titleSmall">By Category :</span><br>
	<table width="100%" align="left">
	  <tbody>
	  	<tr>
		  <td width="53%" style="vertical-align:top;">
		  	<ul class="browseList" id="cat-1"></ul>
		  </td>
		  <td width="53%" style="vertical-align:top;">
		  	<ul class="browseList" id="cat-2"></ul>
		  </td>
		</tr>
	  </tbody>
	</table>
  </div>

  <div class="browseGroup">
	<span class="titleSmall">By State :</span><br>
	<table width="100%" align="left">
	  <tbody>
	  	<tr>
		  <td width="25%" style="vertical-align:top;">
		  	<ul class="browseList" id="s-1"></ul>
		  </td>
		  <td width="25%" style="vertical-align:top;">
		  	<ul class="browseList" id="s-2"></ul>
		  </td>
		  <td width="25%" style="vertical-align:top;">
		  	<ul class="browseList" id="s-3"></ul>
		  </td>
		  <td width="25%" style="vertical-align:top;">
		  	<ul class="browseList" id="s-4"></ul>
		  </td>
		</tr>
	  </tbody>
	</table>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $.ajax({
        type: "GET",
        url: "http://dev.betterjobs.com:7777/OrionWeb/doGetFacetSearch",
        data: {
            facetName: 'jobstate,subcat_top'
        },
        dataType: "jsonp",
        crossDomain: true,
        cache: false,
        success: function( data ){
        	stateFacet = data.facets.jobstate
        	showList(data.facets.jobstate, "s-", 4);
        	showList(data.facets.subcat_top, "cat-", 2);
        }
    });

});

function showList(list, columnName, columns){
	var amount = Math.round( list.length / columns );
	var column = 0;
	for(var obj in list){
		if(obj%amount == 0){
			column++;
		}
		addItemTo(list[obj], columnName, column );
	}
}

function addItemTo( dataElem, domId, colNum ){
	jQuery('<a/>',{
        text: dataElem.description + ' (' + dataElem.count + ')',
        href: 'http://www.betterjobs.com/'+domId+dataElem.description,
        class: 'joblink-list'
    }).appendTo(jQuery('<li/>',{
    	class: 'browseItem'
    }).appendTo( "#"+domId+colNum ));

}
</script>
