<br class="clear"/>
<div id="wrappy">
	<div id="footer">
		<div class="footmenu">
			<a href="http://www.betterjobs.com/include-your-jobs">Include Your Jobs</a>&nbsp;|
			<a href="http://www.betterjobs.com/find-me-a-job">Find Me a Job</a>&nbsp;|
			<a href="http://www.betterjobs.com/jobsByState">Better Jobs by State</a>&nbsp;|
			<a href="http://www.betterjobs.com/pages/jobsByKeyword">Popular Jobs by Keyword</a>&nbsp;|
			<a href="http://www.betterjobs.com/jobs-by-category">Jobs by Category</a>&nbsp;|
			<a href="http://www.betterjobs.com/job-opportunities-by-job-title">Job Opportunities by Job Title</a>&nbsp;|
			<a href="http://www.betterjobs.com/companies-hiring-now">Companies Hiring Now</a>&nbsp;|
			<a href="http://www.betterjobs.com/privacy.jsp">Privacy</a>&nbsp;|
			<a href="http://www.betterjobs.com/terms.jsp">Terms</a>&nbsp;|
			<a href="http://www.betterjobs.com/contactUs.jsp">Contact Us</a> 
		</div>
		<div class="social">
			<%= link_to (image_tag "fb.png", {title:"Sign in with Facebook", alt:"Sign in with Facebook", height:"22px", width:"150px"}), "http://www.betterjobs.com/doFacebookLogin" %>
			<%= link_to (image_tag "linkedin.png", {title:"Sign in with LinkedIn", alt:"Sign in with LinkedIn", height:"22px", width:"150px"}), "http://www.betterjobs.com/doLinkedInLogin" %>
		</div>
	</div>
</div>
