<br class="clear"/>
<div id="wrappy">
	<div id="footer">
		<div class="footmenu">
			<a href="/include-your-jobs">Include Your Jobs</a>&nbsp;|
			<a href="/find-me-a-job">Find Me a Job</a>&nbsp;|
			<a href="/jobsByState">Better Jobs by State</a>&nbsp;|
			<a href="/pages/jobsByKeyword">Popular Jobs by Keyword</a>&nbsp;|
			<a href="/jobs-by-category">Jobs by Category</a>&nbsp;|
			<a href="/job-opportunities-by-job-title">Job Opportunities by Job Title</a>&nbsp;|
			<a href="/companies-hiring-now">Companies Hiring Now</a>&nbsp;|
			<a href="/privacy.jsp">Privacy</a>&nbsp;|
			<a href="/terms.jsp">Terms</a>&nbsp;|
			<a href="/contactUs.jsp">Contact Us</a> 
		</div>
		<div class="social">
			<%= link_to image_tag "fb.png", {title:"Sign in with Facebook", alt:"Sign in with Facebook", height:"22px", width:"150px"} %>
			<%= link_to image_tag "linkedin.png", {title:"Sign in with LinkedIn", alt:"Sign in with LinkedIn", height:"22px", width:"150px"} %>
		</div>
	</div>
</div>
