<div id="header">
	<div class="logo">
	  <%= image_tag "logo.png", {title:"Find a Job on Better Jobs", alt:"Find a Job on Better Jobs", height:"40px", width:"256px"} %>
	</div>
	<div class="topmenu">
	  <ul>
	    <li><a id="various1" href="http://www.betterjobs.com/createAccount.jsp">Create account</a></li>
	    <li class="case"><a href="http://www.betterjobs.com/doViewProfile">My Better Jobs</a></li>
	    <li class="lock"><a id="loginAnchor" href="http://www.betterjobs.com/doLogin" rel="nofollow">Sign In</a></li>
	  </ul>   
	</div>
</div>